<div id = "product_list">
	<h1>Books</h1>

	<table>

		<% @products.each do |product| %>
		<% if product.category == "Book"%>
		<tr class="<%= cycle('line_odd', 'line_even')%>">
			<td> <%= image_tag(product.image, :class => "image")%> </td>
			<td class ="product_info">
			<dt>
				<%= product.title%>
			</dt>
			<dd>
				<%= product.info%>
			</dd>
			<dd>
				<%= button_to 'Add to Cart', line_products_path(:product_id => product)%>
			</dd></td>
			<td class="price"> $<%= product.price %> </td>
			<td class="category"><%= product.category %></td>
		</tr>
		<%end%>
		<% end %>
	</table>

	<br />
	<p><%= will_paginate @products %></p>
</div>