<div id="user">
<p id="notice"><%= notice %></p>


<p>
  <b>Username:</b>
  <%= @user.name %>
</p>

<p>
  <b>Password:</b>
  ********
</p>

<p>
  <b>Info:</b>
  <%= @user.info %>
</p>

<p>
  <b>Is admin:</b>
  <% if @user.is_admin %>
  Yes
  <%else%>
  No
  <%end%>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<% if session[:user_id]%>
<% if User.find_by_id(session[:user_id]).is_admin%>
<%= link_to 'Back', users_path %>
<%end%>
<%else%>
<%= link_to 'Login', login_path %>
<%end%>
</div>
