<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Password:</b>
  <%= @user.password %>
</p>

<p>
  <b>Info:</b>
  <%= @user.info %>
</p>

<p>
  <b>Is admin:</b>
  <%= @user.is_admin %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<% if session[:user_id]%>
<% if User.find_by_id(session[:user_id]).is_admin%>
<%= link_to 'Back', users_path %>
<%end%>
<%else%>
<%= link_to 'Home', root_path %>
<%end%>

