<table>
	<tr>
		<td id = "product_list"><h1>Listing products</h1>
		<table>

			<% @products.each do |product| %>
			<tr class="<%= cycle('line_odd', 'line_even')%>">
				<td> <%= image_tag(product.image, :class => "image")%> </td>
				<td class ="product_info">
				<dt>
					<%= link_to product.title, product%>
				</dt>
				<dd>
					<%= truncate(product.info, :length => 200) %>
					<%= link_to 'More', product%>
				</dd>
				<dd>
					<%= button_to 'Add to Cart', line_products_path(:product_id => product)%>
				</dd></td>
				<td class="price"> $<%= product.price %> </td>
				<td class="category"><%= product.category %></td>
			</tr>
			<% end %>
		</table>
		<br />
		</td>

		<td id="cart">
		<p id="notice">
			<%= notice %>
		</p><h2> Your Cart</h2> <% @cart.line_products.each do |p|%>
		<%= p.quantity%> x <%= link_to p.product.title, p.product %> ..... $<%= p.product.price%>
		<br />
		<%end%>
		..............................................
		 <br />
		<b>Total:</b> $<%= @cart.total_price%>
		<br />
		<br />
		<table>
			<tr>
				<td>
				<%= button_to 'Check out', new_order_path, :method => :get%>
				</td>
				<td>
				<%= button_to 'Empty cart', @cart, :method => :delete,
				:confirm => 'Are you sure?' %>
				</td>
			</tr>
		</table>
		<br />
		</td>
	</tr>
</table>