<p id="notice"><%= notice %></p>

<p>
  <b>Product:</b>
  <%= @line_product.product_id %>
</p>

<p>
  <b>Cart:</b>
  <%= @line_product.cart_id %>
</p>

<p>
  <b>Quantity:</b>
  <%= @line_product.quantity %>
</p>


<%= link_to 'Edit', edit_line_product_path(@line_product) %> |
<%= link_to 'Back', line_products_path %>
